/* contacto */
#bodyContacto h4 a {
    color: whitesmoke;
    text-decoration: none;
    font-size: x-large;
}
#bodyContacto{
    background-image: url("./Media/concert3.jpg");
    background-size:cover;
    text-align: center;
    padding: 50px;
}
#contactomensaje{
    min-height: 150px;
    min-width: 250px;
}