/* eventos */
#bodyEventos .top a {
    text-decoration: none;
    font-size: x-large;
}
#bodyEventos{
    display: flex; 
    background-image: url(./Media/concert2.jpg);
    background-size: cover;
}
#tableEventos{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    justify-content: space-evenly;
    background: #f37e7e;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    min-width: 250px;
    width: 100%;
    border: 3px solid #999;
    border-radius: 4px;
    text-align: center;
    margin: 0 0 1em 0;
    caption-side: top;
    font-size:large
}
#tableEventos tbody tr {
border-bottom: 4px solid #999;
}
.removelist{
    list-style: none;
}