/* RRSS */
#navLeft ul li {
    display: flex;
}
#navRight ul li{
    display: flex;
}
#igLogo {
    list-style-image: url("./Media/logos/icons8-instagram.svg");
}
#twLogo {
    list-style-image: url("./Media/logos/icons8-twitter.svg");
}
#fbLogo {
    list-style-image: url("./Media/logos/icons8-facebook.svg");
}
#ytLogo {
    list-style-image: url("./Media/logos/icons8-youtube.svg");
}